    <div class="body_MenuProjet">
        <div class="MenuProjet_Top">
            <div class="MenuProjet_top-container">
                <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/menu.png`)"/>
                <p>All Parts</p>
            </div>
            <div class="MenuProjet_top-container">
                <h3>Your Site Global Parts</h3>
            </div>
            <div class="MenuProjet_top-container">
                <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/loupe.png`)"/>
                <p>Search</p>
            </div>
            <div class="MenuProjet_top-container">
                <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/horloge.png`)"/>
                <p>Recent</p>
            </div>
        </div>

        <div class="MenuProjet_Middle">
            <div class="MenuProjet_middle-container">
                <h3>Site Parts</h3>
            </div>
            <div class="MenuProjet_middle-container">
                <img class="MenuProjet_Middle-Logo" :src="require(`@/assets/icon/header.png`)"/>
                <p>Header</p>
            </div>
            <div class="MenuProjet_middle-container">
                <img class="MenuProjet_Middle-Logo" :src="require(`@/assets/icon/footer.png`)"/>
                <p>Footer</p>
            </div>
            <div class="MenuProjet_middle-container">
                <ul>
                    <li>Single Post</li>
                    <li>Single Page</li>
                    <li>Archive</li>
                    <li>Search Results</li>
                    <li>Single Product</li>
                    <li>Product Archive</li>
                    <li>Error 404</li>

                </ul>
            </div>
        </div>
        
        <div class="MenuProjet_Low">
            <div class="MenuProjet_low-container">
                <img class="MenuProjet_Low-Logo" :src="require(`@/assets/icon/settings.png`)"/>
            </div>
        </div>
    </div>