<div class="contaire-Body">

    <div class="navbar">

            <div class="navbar1">
                <p> Back </p>
                <span> Recently viewed </span>
            </div>
            <div class=" Add">
                
                <p class="Add_NewText"> Add New </p>
                <img class="Add_icone" :src="require(`@/assets/icon/Add.svg`)"/>

            </div>
            

    </div>

    <div class="Title">

       <H1> Star customizing every part of your site</H1>
         <Hr></Hr>
    </div>
    
    
    <div class="container-grid">

        <div class="header_box">

            <p> Header</p>
            <img class="header_box-Logo" :src="require(`@/assets/Container_Box/Header.svg`)"/>
            <img class="header_box-icone" :src="require(`@/assets/icon/Add.svg`)"/>

        </div>
        <div class="header_box">

            <p> Footer</p>
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/Container_Box/footer.svg`)"/>
            <img class="header_box-icone" :src="require(`@/assets/icon/Add.svg`)"/>

        </div>

        <div class="header_box">

            <p> Single Post</p>
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/Container_Box/Single_post.svg`)"/>
            <img class="header_box-icone" :src="require(`@/assets/icon/Add.svg`)"/>

        </div>

        <div class="header_box">

            <p> Single Page</p>
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/Container_Box/Single_page.svg`)"/>
            <img class="header_box-icone" :src="require(`@/assets/icon/Add.svg`)"/>

        </div>

        <div class="header_box">

            <p> Archive</p>
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/Container_Box/Archive.svg`)"/>
            <img class="header_box-icone" :src="require(`@/assets/icon/Add.svg`)"/>

        </div>

        <div class="header_box">

            <p> Search Results </p>
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/Container_Box/Search_resultat.svg`)"/>
            <img class="header_box-icone" :src="require(`@/assets/icon/Add.svg`)"/>

        </div>

        <div class="header_box">

            <p> Single Product</p>
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/Container_Box/Single_product.svg`)"/>
            <img class="header_box-icone" :src="require(`@/assets/icon/Add.svg`)"/>

        </div>

        <div class="header_box">

            <p> Product Archive</p>
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/Container_Box/Product_Archive.svg`)"/>
            <img class="header_box-icone" :src="require(`@/assets/icon/Add.svg`)"/>

        </div>

        <div class="header_box">

            <p> Error 404</p>
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/Container_Box/Error404.svg`)"/>
            <img class="header_box-icone" :src="require(`@/assets/icon/Add.svg`)"/>

        </div>


    </div>


</div>