<div class="contaire-Body">

    <div class="navbar">

            <div class="navbar1">
                <p> Back </p>
                <span> Recently viewed </span>
            </div>

            <div> Add New </div>

    </div>

    <div class="h1">

       <H1> Star customizing every part of your site</H1>
         <Hr></Hr>
    </div>
    
    
    <div class="container-grid">

        <div class="header_box">

            <p> Header</p>
            <img class="header_box-Logo" :src="require(`@/assets/gqw5f4e03f82dc886173.png`)"/>
            <img class="header_box-icone" :src="require(`@/assets/icon/settings.png`)"/>

        </div>
        <div class="header_box">

            <p> Header</p>
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/gqw5f4e03f82dc886173.png`)"/>

        </div>

        <div class="header_box">

            <p> Header</p>
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/gqw5f4e03f82dc886173.png`)"/>

        </div>

        <div class="header_box">

            <p> Header</p>
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/gqw5f4e03f82dc886173.png`)"/>

        </div>

        <div class="header_box">

            <p> Header</p>
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/gqw5f4e03f82dc886173.png`)"/>

        </div>



    </div>


</div>