<div class="verticalBarOptionBottom-body">
    <div class="verticalBarOption1">
        <p style="border-bottom: #437EEA solid 2px;">DOM</p>
        <p>Actifs</p>
        <p>Fragments de code</p>
    </div>
    <div class="verticalBarOption2">
        <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/triangle.png`)"/>
        <p>Html</p>
    </div>
    <div class="verticalBarOption3">
        <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/triangle-right.png`)"/>
        <p>Head</p>
    </div>
    <div class="verticalBarOption4">
        <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/triangle.png`)"/>
        <p>Body</p>
    </div>
    <div class="verticalBarOption5">
        <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/triangle-right.png`)"/>
        <p>Nav</p>
        <p>azertyuiop qsdfghjklm</p>
    </div>
    <div class="verticalBarOption6">
        <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/triangle-right.png`)"/>
        <p>Div</p>
        <p>azerty uiop qsdfg hjklm</p>
    </div>
    <div class="verticalBarOption7">
        <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/triangle-right.png`)"/>
        <p>Div</p>
        <p>azerty</p>
    </div>

</div>