<div class="main_container">

    <div class="container_content-1">
        <img class="container_content-1__icon" :src="require(`@/assets/icon/burger24.png`)"/>
        <h3>Edit section</h3>
        <img class="container_content-1__icon" :src="require(`@/assets/icon/interfaceUser24.png`)"/>
    </div>

    <div class="container_content-2">
        <div class="content_2-1">
            <img class="container_content-2__icon" :src="require(`@/assets/icon/layout24.png`)"/>
            <p>Layout</p>
        </div>
        <div class="content_2-2">
            <img class="container_content-2__icon" :src="require(`@/assets/icon/style24.png`)"/>
            <p>Style</p>
        </div>
        <div class="content_2-3">
            <img class="container_content-2__icon" :src="require(`@/assets/icon/settings.png`)"/>
            <p>Advanced</p>
        </div>

    </div>

    <div class="container_content-3">
        <img class="container_content-2__icon" :src="require(`@/assets/icon/triangle-right.png`)"/>
        <p>Background</p>
    </div>
    <div class="container_content-3">
        <img class="container_content-2__icon" :src="require(`@/assets/icon/triangle-right.png`)"/>
        <p>Background Overlay</p>
    </div>
    <div class="container_content-3">
        <img class="container_content-2__icon" :src="require(`@/assets/icon/triangle-right.png`)"/>
        <p>Border</p>
    </div>
    <div class="container_content-3">
        <img class="container_content-2__icon" :src="require(`@/assets/icon/triangle.png`)"/>
        <p>Shape Divider</p>
    </div>
    
    <div class="container_content-4">
        <div class="container_4-1">
            <div class="content_4-1">
                <p>Top</p>
            </div>
            <div class="content_4-2">
                <p>Bottom</p>
            </div>
        </div>
        <div class="container_4-2">
            <p>Color</p>
            <div class="container_4-2--color"></div>
        </div>
    </div>

    <div class="container_content-5">
        <div class="content_5-1">
            <div class="content_5-1--t">
                <p>Width</p>
            </div>
            <div class="content_5-1--c">
                <div class="line_width">
                    <div class="point_width"></div>
                </div>
                <div class="nb1">
                    <p>117</p>
                </div>
            </div>

        </div>

        <div class="content_5-2">
            <div class="content_5-2--t">
                <p>Height</p>
            </div>
            <div class="content_5-2--c">
                <div class="line_height">
                    <div class="point_height"></div>
                </div>
                <div class="nb2">
                    <p>974</p>
                </div>
            </div>
        </div>
    </div>

</div>