<div class="verticalBarOptionTop-body">
    <div class="verticalBarOptionTop-body_top">
        <h3>Components</h3>
    </div>
    <div class="verticalBarOptionTop-body_middle">
        <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/triangle.png`)"/>
        <p>ESSENTIALS</p>
    </div>
    <div class="verticalBarOptionTop-body_bottom">
        <div class="body_bottom">
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/button.png`)"/>
            <p>Button</p>
        </div>
        <div class="body_bottom">
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/label.png`)"/>
            <p>Label</p>
        </div>
        <div class="body_bottom">
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/image.png`)"/>
            <p>Image</p>
        </div>
        <div class="body_bottom">
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/slider.png`)"/>
            <p>Slider</p>
        </div>
        <div class="body_bottom">
            <img class="MenuProjet_Top-Logo" :src="require(`@/assets/icon/switch.png`)"/>
            <p>Switch</p>
        </div>
    </div>
</div>