@import './helpers/reset';
@import './helpers/variables';
@import './helpers/mixins';

.body1{
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 50px);
}
.body-left{
    background-color: $sombre;
    display: flex;
    flex-direction: row;
    width: 40%;
}
@media screen and (min-width: 2560px) {
    .body-left{
        width: 20%;
    }
}

.body-left-2{
    width: 100%;
    overflow: scroll;

}

.body-right{
    width: 30%;
    background-color: $sombre;
    overflow: scroll;
}