@import './helpers/reset';
@import './helpers/variables';
@import './helpers/mixins';

.body1{
    display: flex;
    justify-content: space-between;
}
.body-left{
    background-color: $sombre;
    display: flex;
    flex-direction: row;
}
.body-left-2{
    width: 100%;
}
.body-right{
    width: 15%;
    background-color: $sombre;
}
