$bleu: #487ef3;

*{
    padding: 0;
    margin: 0;
}

.test{
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;

    .menu-components{
        float:left;  
        height: 85vh;
        width: 100%;
        background-color: $bleu;

        .component{
            margin: 20px auto;
            text-align: center;
            border: 1px solid black;
            width: 80%;
            height: 20px;
            background-color: whitesmoke;
            cursor: pointer;
        }

        .dom{
            @for $i from 0 to 5 {
                .dom-indent-#{$i}{
                    margin-left: $i * 10px;
                    padding: 0 5px;
                    cursor: pointer;
                    display: flex;
                    &:hover{
                        background-color: rgb(0, 0, 88);
                        color: white;
                    }
                }
            }
            span{
                margin-left: 5px;
            }
        }
    }

    .edit-preview{
        float:left;  
        height: 85vh;
        width: 100%;
        // border: 1px solid black;

        div[data-select='true']{
            padding: 0 50px;
            margin: 0;
        }

        :focus{
            outline: none;
        }

      

        [data-active='true']{

            &:hover{
                border: 2px dashed #ff7272;
            }

        }

        div[data-active='true']{

            &:hover{
                border: 2px dashed #ff7272;
                margin: 0;
                padding: 0 50px;

            }

        }

        [data-select='true']{
            border: 1px solid #007bff;
            position: relative;

            &:hover{
                border: 1px solid #007bff;
            }

            .tools-menu{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
        
                display: flex;
        
                background-color: $bleu;
        
                .tools{
                    padding: 2px 5px;
                    font-size: 1rem;
                }
            }
        }

        [data-height='100px']{
            height: 100px;
        }
    }

    .edit-style{
        float:right;  
        height: 85vh;
        width: 100%;
        background-color: rgb(255, 0, 0);
    }

    .container{
        margin: 0 50px;
        height: auto;
    }

    

}