@import './helpers/reset';
@import './helpers/variables';
@import './helpers/mixins';

.verticalBarOptionTop-body_top{
    display: flex;
    justify-content: center;
    padding: 20px;
    border-bottom: $blue solid 1px;
    color: $claire;
    font-size: 0.8em;
    background-color: $blue
}
// @media screen and (min-width: 2560px) {
//     .verticalBarOptionTop-body_top{
//         // height: 7px;
//         font-size: 2em

//     }
// }

.verticalBarOptionTop-body_middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-evenly;
    padding: 10px;
    color: $claire;
    font-size: 0.7em;
    border-bottom: $blue solid 1px;
    cursor: pointer;
}
.verticalBarOptionTop-body_middle img{
    margin-right: 5px;
    height: 7px;
}
@media screen and (min-width: 2560px) {
    .verticalBarOptionTop-body_middle{
        font-size: 1em;
        img{
            height: 20px;
            width: 20px;
        }
    }
}

.verticalBarOptionTop-body_bottom{
    display: flex;
    flex-direction: column;
    // align-items: center;
}

.body_bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    color: $claire;
    font-size: 0.7em;
    cursor: pointer;
}
.body_bottom:hover{
    background-color: $ebony;
    transition: 1s;
}
.body_bottom img{
    background-color: $blue;
    padding: 10px;
    height: 15px;
    border-radius: 15px;
    margin-right: 10px;
}
@media screen and (min-width: 2560px) {
    .verticalBarOptionTop-body_bottom{
        .body_bottom{
            font-size: 1em;
            img{
                height: 25px;
                padding: 15px;
                margin-right: 10px;
            }
        }
    }
}